table.browserref
{
border-collapse:collapse;width:100%;
}

table.browserref tr:nth-child(even)	{background-color:#F1F1F1;}
table.browserref tr:nth-child(odd)  {background-color:#ffffff;}
table.browserref tr.fixzebra        {background-color:#F1F1F1;}

table.browserref th{
height:44px;background-repeat:no-repeat;background-position:center center;border:1px solid #d4d4d4;background-color:#ffffff;font-weight:normal;color:#555555;padding:11px 5px 11px 5px;vertical-align:middle;
}

table.browserref td{
border:1px solid #d4d4d4;text-align:center;padding:8px;vertical-align:top;
}

table.browserref th:first-child,table.browserref td:first-child{padding-left:16px}

table.browserref .bsIE       {background-image:url('images/compatible_ie.gif');}
table.browserref .bsEdge     {background-image:url('images/compatible_edge.gif');}
table.browserref .bsFirefox  {background-image:url('images/compatible_firefox.png')}
table.browserref .bsChrome   {background-image:url('images/compatible_chrome.gif');}
table.browserref .bsSafari   {background-image:url('images/compatible_safari.gif');}
table.browserref .bsOpera    {background-image:url('images/compatible_opera.gif')}



